@charset "UTF-8";

* { margin: 0; padding: 0; }

a { text-decoration: none; color: red; }

p { margin-top: 10px; margin-bottom: 15px; font-size: 18px; color: #444;}

.clearfix { overflow: auto; }

.wrapper {
	margin: 0 auto;
	width: 1000px;
}

.top-bar {
	width: 1000px;
	background: maroon;
}

.top-bar-links {
	float: left;
}

.top-bar-links ul {
	list-style: none;
	margin: 15px;
}

.top-bar-links ul li {
	display: inline-block;
}

.top-bar-links ul li:last-child {
	border: none;
}

.top-bar-links ul li a {
	padding: 0 10px;
	color: white;
	border-right: 1px solid white;
}

.site-search {
	padding: 3px 5px 3px 20px;
	margin: 15px;
	float: right;
	background: white;
	border-radius: 15px;
}

.site-search input {
	border: 0;
	float: left;
}

.site-search button {
	width: 18px;
	height: 18px;
	background: url(../img/icons/search.png);
	border: 0;
	float: right;
}

header .logo {
	margin: 30px;
	margin-left: 20px;
	float: left;
}

header .logo h1 {
	font-variant: small-caps;
	font-size: 48px;
	font-weight: normal;
	letter-spacing: 1px;
}

header .socialmedia ul {
	float: right;
	margin-top: 60px;
	margin-right: 20px;
}

header .socialmedia ul {
	list-style: none
}

header .socialmedia ul li {
	display: inline
}

header .socialmedia ul li a {
	margin-left: 5px;
	padding: 6px;
	background: #444;
	color: #fff;
	display: inline-block;
	border-radius: 20px;
}

header .socialmedia ul li a:hover {
	background: orange;
}

nav {
	margin-left: 15px;
	width: 970px;
	background: #444;
	background: linear-gradient(#262626, #4d4d4d, #262626);
	text-align: center;
	border-radius: 5px;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline;
}

nav ul li a {
	color: white;
	text-transform: uppercase;
	margin: 10px 50px 10px 50px;
	display: inline-block;
}

nav ul li a:hover {
	color: red;
}
.intro {
	width: 970px;
	margin: 15px;
	margin-bottom: 0px;
}

.intro .introimage {
	width: 400px;
	float: left;
}

.introimage img {
	float: left;
}

.intro .introtext {
	width: 570px;
	float: right;
}

.introtext h1 {
	font-weight: normal;
	margin-top: 100px;
	font-size: 75px;
	text-transform: uppercase;
}

.introtext p {
	font-size: 18px;
}

.introtext a {
	text-transform: uppercase;
	float: right;
}

.home-content {
	width:1000px;
	background: #eee;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.home-content .homecol {
	width: 313.33px;
	float: left;
	margin-left: 15px;
}

.homecol img {
	width: 313.33px;
}

.homecol h2 {
	margin: 30px 0px 30px 0px;
	font-size: 30px;
	font-weight: normal;
}

.homecol a {
	color: red;
	float: right;
}

.services {
	margin-bottom: 20px;
}

.services img {
	width: 64px;
	float: left;
	margin-right: 15px;
}

.services h3 {
	color: #333;
}

.services p {
	margin-top: 0px;
}

.quote {
	float: left;
}

.quote i {
	font-size: 50px;
	color: #555;
	float: left;
}

.quote h3 {
	color: #333;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}

.quote p {
	clear: both;
}

footer {
	float: left;
	width: 1000px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.footercol {
	float: left;
	width: 231.25px;
	margin-left: 15px;
	border-top: 1px solid #000;
}

.footercol h4 {
	font-size: 20px;
	color: #444;
	margin-top: 15px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.tweet p {
	font-size: 16px;
}

ul.quicklinks {
	margin-top: 10px;
	list-style: none;
}

ul.quicklinks li a::before {
	content: "» ";
}

ul.quicklinks li a {
	padding-bottom: 5px;
	margin-bottom: 5px;
	display: block;
	border-bottom: 1px solid #aaa;
	color: #666;
}

ul.quicklinks li a:hover {
	color: red;
}

.blogpost {
	float: right;
}

.blogpost h4 {
	text-transform: initial;
	font-size: 15px;
}

.blogpost p {
	font-size: 16px;
	margin-top: 0px;
}

.blogpost a.readmore {
	float: right;
}

form.contact input, form.contact textarea {
	background: #eee;
	padding: 5px;
	margin-bottom: 5px;
	width: 221.25px;
	border: none;
	border-radius: 5px;
	font-family: inherit;
	font-size: 16px;
}

form.contact textarea {
	height: 130px;
}

form.contact button {
	background: #eee;
	padding: 5px 15px;
	border: none;
	border-radius: 5px;
	font-family: inherit;
	text-transform: uppercase;
	color: red;
}

.copyright {
	width: 1000px;
	background: #eee;
	
	float: left;
}

.copyright .left {
	float: left;
	margin: 20px;
}

.copyright .right {
	float: right;
	margin: 20px;
}